<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tarena.ht.mapper.DeptMapper">
	
	<select id="findAll" resultMap="deptRM">
		SELECT * FROM 
	dept_p d
       LEFT JOIN
	(SELECT dept_id AS p_id,dept_name AS p_name FROM dept_p) p
        ON d.parent_id = p.p_id
    order by dept_id
	</select>
	
	<resultMap id="deptRM"  type="Dept" autoMapping="true">
		<!--封装ID		-->
		<id column="DEPT_ID" property="deptId"></id>
		
		<!--一对一  -->
		<association property="parentDept" javaType="Dept" >
			<id column="P_ID" property="deptId"/>
			<result column="P_NAME" property="deptName"/>
		</association>
		
	</resultMap>
	
	<!--修改用户状态  -->
	<update id="updateState">
		update dept_p set state=#{state} where dept_id in 
		<foreach collection="deptIds" open="(" close=")" item="deptId" separator=",">
			#{deptId}
		</foreach>
	</update>
	
	<!--批量删除  -->
	<delete id="deleteDepts">
		delete from dept_p where dept_id in(
			<foreach collection="array" item="id" separator=",">
				#{id}
			</foreach>
		)
	</delete>
	
	<!--部门新增  -->
	<insert id="saveDept" parameterType="Dept">
		insert into dept_p values(
			#{deptId},
			#{parentDept.deptId},
			#{deptName},
			#{state},
			#{createBy,jdbcType=VARCHAR},
			#{createDept,jdbcType=VARCHAR},
			#{createTime,jdbcType=DATE},
			#{updateBy,jdbcType=VARCHAR},
			#{updateTime,jdbcType=DATE}
		)
	</insert>
	
	<!--查询部门信息 通过id  -->
	<select id="findOneByID" resultMap="deptRM">
		SELECT * FROM 
	dept_p d
       LEFT JOIN
	(SELECT dept_id AS p_id,dept_name AS p_name FROM dept_p) p
        ON d.parent_id = p.p_id
    where dept_id=#{deptId}
    
	</select>
</mapper>